

#root {
  background-color: #a1fcf9
}

/* .canvas {
  background-color: #a1fcf9
}

header {
  background-color: #a1fcf9
}

.box {
  background-color: #a1fcf9
}

#collage {
  background-color: #a1fcf9
} */


/* button:hover {
    border-top-color: pink;
    background-color: pink;
    color: #ccc;
    opacity: 0.75;
    -webkit-backface-visibility: hidden;
} */

/* body {
  background: #a1fcf9;
  background-color: #a1fcf9
}

html, body {
  background: #a1fcf9;
  background-color: #a1fcf9
} */

header {
  box-shadow: 0px 0px 80px 8px #cda5f3;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.left-frame {
  height: 100%;
  width: 50px;
  float: left;
  overflow: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* images: */

.dream-image {
  width: 1000px;
  height: 800px;
  left: 20px;
  /* clip-path: inset(0% 0% 0% 0%); */
  /* border-style: solid; */
}



.link-div {
  /* height: 500px; */
  width: 1000px;
  margin: auto;
  box-shadow: 0px 0px 50px 50px #cda5f3;
  display:inline-block;
}


.header-photo {
  height: 200px;
  width: 100%;
}

.dream-div {
  width: 1000px;
  margin: auto;
  background-color: #a1fcf9;
  box-shadow: 0px 0px 50px 50px #cda5f3;

}

.preview {
  width: 800px;
  border-style: solid;
  border-color: pink;
}

/* .image-clicked:active {
  background-color: red;
} */


/* .collage-image {
  -webkit-filter: blur(4px);
  filter: blur(10px);
} */

.collage-image {
  float: right;
  position: absolute;
}

/* text */

.text-area {
  font-style: italic;
  text-align: center;
  width: 800px;
  height: 200px;
  background-color: pink;
  font-size: 60px;
  box-shadow: 0px 0px 80px 8px #cda5f3;
}

.text-input {
  font-style: italic;
  text-align: center;
  width: 800px;
  height: 80;
  background-color: pink;
  font-size: 60px;
  box-shadow: 0px 0px 80px 8px #cda5f3;
}

input, textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 5px solid #DDDDDD;
}

input:focus, textarea:focus {
  /* box-shadow: 0 0 5px rgba(81, 203, 238, 1); */
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
  box-shadow: 0px 0px 80px 8px #cda5f3;
}


/* other */

/* .collage-area {
  border-style: solid;
  width: 1000px;
  height: 600px;
  left: 30px;
} */

.main-container {
  float: left;
  position: relative;
  left: 50%;
}

.fixer-container {
  float: left;
  position: relative;
  left: -50%;
}

.cropper-div {
  box-shadow: 0px 0px 80px 8px #cda5f3;
}

.box {
  margin: auto;
  width: 1200px;
  height: 800px;
  /* content: url('./frame.png') */
}

button {
  box-shadow: 0px 0px 80px 8px #cda5f3;
}

/* font */

.dream-font{
  font: italic small-caps bold 45px/2 cursive;
  color: #4b0082
}
