

#root {
  background-color: #a1fcf9
}

.canvas {
  background-color: #a1fcf9
}

header {
  background-color: #a1fcf9
}

.box {
  background-color: #a1fcf9
}


/* button:hover {
    border-top-color: pink;
    background-color: pink;
    color: #ccc;
    opacity: 0.75;
    -webkit-backface-visibility: hidden;
} */

/* body {
  background: #a1fcf9;
  background-color: #a1fcf9
}

html, body {
  background: #a1fcf9;
  background-color: #a1fcf9
} */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* images: */

.dream-image {
  width: 1300px;
  height: 800px;
  left: 20px;
}

.header-photo {
  height: 300px;
  width: 100%;
}

.dream-div {
  width: 1000px;
  margin: 0%;
  /* margin: auto; */
  background-color: #a1fcf9;
}

.preview {
  width: 800px;
}

/* .image-clicked:active {
  background-color: red;
} */


/* .collage-image {
  -webkit-filter: blur(4px);
  filter: blur(10px);
} */

/* text */

.text-area {
  font-style: italic;
  text-align: center;
  width: 800px;
  height: 200px;
  background-color: pink;
  font-size: 60px;
}

.text-input {
  font-style: italic;
  text-align: center;
  width: 800px;
  height: 80;
  background-color: pink;
  font-size: 60px;
}

/* other */

/* .collage-area {
  border-style: solid;
  width: 1000px;
  height: 600px;
  left: 30px;
} */

.main-container {
  float: left;
  position: relative;
  left: 50%;
}

.fixer-container {
  float: left;
  position: relative;
  left: -50%;
}

.box {
  margin: auto;
  /* border-style: solid;
  border-color: #ccffff; */
  width: 1200px;
  height: 800px;
  /* background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/E8mQw973xilexniun/videoblocks-dreamy-liquid-ink-colors-blending-mixing-swirl-fluid_sjbzxacjg_thumbnail-full01.png'); */
}
