#root {
  background-color: #a1fcf9
}

.canvas {
  background-color: #a1fcf9
}

header {
  background-color: #a1fcf9
}

/* body {
  background: #a1fcf9;
  background-color: #a1fcf9
}

html, body {
  background: #a1fcf9;
  background-color: #a1fcf9
} */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* images: */

.dream-image {
  width: 1000px;
  height: 500px;
}

.header-photo {
  height: 300px;
  width: 100%;
}

.dream-div {
  width: 1000px;
  margin: auto;
  background-color: #a1fcf9;
}

/*
.collage-image {
  opacity: 0.7;
} */

/* text */

.text-area {
  font-style: italic;
  width: 800px;
  height: 400px;
  background-color: pink;
  font-size: 60px;
}

/* other */

.box {
  margin: auto;
  border-style: solid;
  border-color: #ccffff;
  width: 1200px;
  height: 700px;
  /* background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/E8mQw973xilexniun/videoblocks-dreamy-liquid-ink-colors-blending-mixing-swirl-fluid_sjbzxacjg_thumbnail-full01.png'); */
}
